@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

.left-panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 260px;
    overflow-x: hidden;
    background-color: #3f0e40;
    color: white;
    padding: 10px;
}

.user {
    display: flex;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.user:hover {
    background-color: #ffeded2e;
}

.user.selected {
    background-color: #ffeded2e;
}

.new-messages {
    position: absolute;
    top: 20px;
    right: 15px;
    background: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.right-panel {
    margin-left: 260px;
}

.header {
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
}

.messages {
    margin: 0;
    padding: 20px;
}

.message {
    list-style: none;
}

.sender {
    font-weight: bold;
    margin-top: 5px;
}

.form {
    padding: 10px;
}

.input {
    width: 80%;
    resize: none;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #000;
}

.send-button {
    vertical-align: top;
}

.select-username {
    width: 300px;
    margin: 200px auto 0;
}

.icon {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e38968;
    margin-right: 6px;
}

.icon.connected {
    background-color: #86bb71;
}
